<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/carDetail.css">    
    <!-- Google Fonts Link -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap" rel="stylesheet" />
    <!--  スタイルシート-->
    <link rel="stylesheet" href="/css/master.css">
    <!-- Line Awesome CDN Link -->
    <link href="/css/line-awesome.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/login_style.css" /> -->
    <link rel="stylesheet" type="text/css" href="slick/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick/slick-theme.css">


    <title>車オークション</title>
</head>

<body>
    <header>
        <img src="../img/logo.png" class="logo">
        <div id="title">
            <a href="/">
                <h1>オークションサイト「カーズ」</h1>
            </a>
        </div>
        <div id="top_img">
            <img src="../img/user.jpg" class="top_img">
        </div>
    </header>
    <hr>