<!--書類-->
<%- include('partials/documentHeader.ejs'); %>
    <!-- <link rel="stylesheet" href="document.css"> -->
    <p id="price_total">来月25日の支払い<br>合計金額：<span><%= value %></span>円</p>
    
    <div id="main">
        <img src="img/flow__pc.png" style="width: 100%;">
        <section class="u-mb_l" id="section_01">
            <div class="u-cw_narrow_only_pc">
                <h3 class="title_2">1.お取引の流れ</h3>
            </div>

            <div class="u-cw_narrow">
                <div class="u-mb">
                </div>
                <h4 class="title_3">購入時に必要な書類身分証明書（保険証、運転免許証、住民票のコピーなど）</h4>
                <p class="u-mb">下取り車両がある場合、平成15年4月1日に改正し、施行された古物営業法及び古物営業法施行規則に基づき、ご本人様確認のための書類が必要となります。</p>
                <h5 class="title_4">・身分証明書以外の、自動車の購入にかかる必要書類</h5>
                <p class="u-mb id_txt">自動車の購入（所有者または使用者の名義変更）には以下の書類が必要となります。</p>
                <h6 class="title_5">・印鑑証明書</h6>
                <p class="u-mb id_txt">名義変更（登録）の際に必要（発行後２ヶ月以内のもの）となります。各市町村の役所で発行できます。<br><span
                        class="u-text_ss">※詳しい取得方法などは各市町村の役所にお問合せください。</span></p>
                <h6 class="title_5">・委任状</h6>
                <p class="u-mb id_txt">名義変更（登録）手続きを委任する際に必要な書類です。落札者様の実印（印鑑証明で登録されたものと同一の印鑑）による押印が必要となります。</p>
                <h6 class="title_5">・車庫証明書</h6>
                <p class="u-mb id_txt">車の保管場所を管轄の警察署に申請し、警察から交付される書類です。ご自身での取得を希望される場合は、落札後、直接出品店にお伝えください。</p>
            </div>
        </section>

        <section class="u-mb_l" id="section_02">
            <div class="u-cw_narrow_only_pc">
                <h3 class="title_2">2.重要確認事項</h3>
            </div>

            <div class="u-cw_narrow">
                <p class="u-mb">「厳選中古車オークション」ご利用の重要確認事項…ご入札頂く前に必ずお読み下さい。</p>
                <h4 class="title_3">事前確認・お問い合わせについて</h4>
                <p class="u-mb">
                    入札に際してご不明な点がある場合は、必ず入札を行う前に【出品者への質問】にてご確認ください。出品車両に関しては、弊社にお問い合わせ頂いても、オークションの公正を規するためにお答えする事は出来ません。必ず【出品者への質問】にてご質問下さい。
                </p>
                <h4 class="title_3">落札後のご連絡</h4>
                <p class="u-mb">オークション終了後、弊社からお送りする落札通知を必ずご確認頂き必要事項をご記入の上ご連絡下さい。<br><span
                        class="u-text_ss">※弊社ではストアIDを取得している為、取引ナビはご利用頂けません。</span></p>
                <h4 class="title_3">落札の取り消し</h4>
                <p class="u-mb">
                    原則として、当オークションは購入意思のある方のみを入札の対象としております。落札後48時間以内に購入意志の確認が取れない場合は、落札者都合で落札者削除させて頂きます。（ヤフーから自動的に落札者へマイナス評価が付きます）
                </p>
                <h4 class="title_3">入札の削除と制限</h4>
                <p class="u-mb">
                    当オークションにおいて、明らかに不適当な金額（例：１億円など）での入札等、「車選びドットコム」が不適切であると判断した場合、入札者の評価如何に係らず、入札を削除させていただく場合がございます。また、マイナス評価の方の入札は、お断りさせていただきます。
                </p>
                <h4 class="title_3">フィッシング詐欺について</h4>
                <p>「厳選中古車オークション」では、落札された方に対してメールをお送りする際に、【@kurumaerabi.com】以外のアドレスからお送りする事はございません。また、出品店からのメールに関しても、事前に上記アドレスからのメールにて告知した「出品協力店のアドレス」から送られます。当社及び出品店と偽ったメールにはご注意下さい。
                </p>
            </div>
        </section>

        <section class="u-mb_l" id="section_03">
            <div class="u-cw_narrow_only_pc">
                <h3 class="title_2">3.車の状態の確認方法</h3>
            </div>

            <div class="u-cw_narrow">
                <p>中古車は1台ずつ状態が異なるため、入札前の現車確認（実際に出品店での状態確認）をお勧めしています。現車確認の方法、日程等については予めお問い合わせください。</p>
            </div>
        </section>

        <section class="u-mb_l" id="section_04">
            <div class="u-cw_narrow_only_pc">
                <h3 class="title_2">4.お支払いについて</h3>
            </div>

            <div class="u-cw_narrow">
                <p class="u-mb">お支払いに関しては、出品店毎に異なりますので、入札前に必ず質問にてご確認ください。<br>
                    下取り車両がある場合は査定金額を差し引いた額と諸費用を合わせた価格を最終金額としてご提示いたします。出品店により、オートローンもご利用いただけます。</p>
                <h4 class="title_3">オートローンについて</h4>
                <p>店舗によっては、オートローンのご利用が可能です。ご利用をお考えの場合は、予めご確認ください。また、オートローンをご利用いただくには事前審査が必要です。オートローンの金利は、販売会社によって異なります。ローン審査時にご確認下さい。頭金、お支払回数等はローン審査時にご相談ください。
                </p>
            </div>
        </section>

        <section class="u-mb_l" id="section_05">
            <div class="u-cw_narrow_only_pc">
                <h3 class="title_2">5.購入時に必要な費用</h3>
            </div>

            <div class="u-cw_narrow">
                <p class="u-mb_s">落札車両の支払総額は、車両本体価格（落札価格＋消費税）の他に、以下の費用が必要となります。</p>
                <p class="emphasis u-mb_s"><span class="price_total_2">支払総額 ＝ 車両本体価格（落札価格 ＋ 消費税）＋ 諸費用（諸手続き代行費用 ＋ 法定費用）＋ 輸送費</span></p>
                <p class="u-mb">ご契約前に必ずご確認をお願いいたします。</p>
                <h4 class="title_3">消費税</h4>
                <p class="u-mb">落札価格に対し別途消費税を承ります。</p>
                <h4 class="title_3" id="expenses">諸費用について</h4>
                <p class="u-mb">
                    諸費用とは、自動車の登録時に必要となる各税金や保険代などの法定費用および各手数料です。（手数料は各店舗によって金額が異なります）正式な諸費用が知りたい場合、各店舗にお問い合わせいただき料金に納得いただいた上で購入手続きをしてください。
                </p>
                <h5 class="title_4 shohiyo">諸費用</h5>
                <h6 class="title_5">・車庫証明</h6>
                <p class="u-mb shohiyo-txt">中古車を駐車するスペースを保有している事を証明するものです。<br>
                    所轄の警察署に申請すれば、申請代を支払うだけで誰にでも取得可能です。<br>
                    販売店に取得をお願いした場合は、代行手数料が別途必要となります。</p>
                <h6 class="title_5">・登録代行</h6>
                <p class="u-mb shohiyo-txt">陸運局にて行う購入車両の名義変更を、販売店に代行してもらう際に必要となります。<br>
                    「印紙代」等の法定費用と、その代行手数料（交通費や人件費等）が計上されますので、何社かの見積書を見比べると良いでしょう。</p>
                <h6 class="title_5">・下取車諸手続</h6>
                <p class="u-mb shohiyo-txt">下取車がある場合、もとの所有者から販売店へ名義変更をする為に必要な諸費用の事を表します。<br>
                    解体処理をする場合は、その費用が計上される事もありますが、名義変更だけなら計上しない事もありますので、販売店に確認して下さい。</p>
                <h6 class="title_5">・納車費用</h6>
                <p class="u-mb shohiyo-txt">購入車両を貴方の自宅や、指定した場所に搬送する際にかかる費用となります。<br>
                    貴方自身が、販売店まで引き取りに行った場合は、当然計上されません。</p>
                <h6 class="title_5">・点検・整備代</h6>
                <p class="u-mb shohiyo-txt">納車前に、販売店が行う中古車に対する点検・整備費用を表します。<br>
                    中古車の場合、コンディションは一台一台違ってくる為、その整備内容も変化します。<br>
                    定期点検整備に当たる費用なのか、販売店独自の判断による整備なのかをしっかり確認して下さい。</p>
                <h6 class="title_5">・公正証書作成費用</h6>
                <p class="u-mb shohiyo-txt">
                    高額な中古車を購入する際に、ローン及びクレジット会社が必要とする公正証書（中古車の支払いが出来なくなった場合、差し押さえする為に必要な書類）を作成する場合に必要な費用を表します。
                </p>

                <h5 class="title_4 zeikin">税金・保険料</h5>
                <h6 class="title_5">・自動車税</h6>
                <p class="u-mb shohiyo-txt">購入車両の排気量に応じて支払う都道府県税を表します。<br>
                    中古車の排気量によって税額が変わり、所有者を変更する際に新しい所有者が登録翌月から翌年３月までの納税を負担します。<br>
                    登録当月分は負担する必要はありません。月割の返金はありません。</p>
                <h6 class="title_5">・環境性能割</h6>
                <p class="u-mb shohiyo-txt">自動車を取得した取得者に対して課税される税金を表します。<br>
                    こちらは自動車の取得価格に対しての税率分を負担します。<br>
                    税率は、環境負荷軽減（燃費基準値達成度など）に応じて、非課税、1％、2％、3％の4段階に区分けされています。詳しくは、各販売店へ確認してください。</p>
                <h6 class="title_5">・自動車重量税</h6>
                <p class="u-mb shohiyo-txt">中古車の重量に対して課税される税金の負担額を表します。<br>
                    ５００kg毎に課税額が変わり、新車登録時や車検時に車検有効期限分を前払いする形となります。<br>
                    購入車両に車検有効期限が残っている場合は、負担する必要はありません。</p>
                <h6 class="title_5">・自賠責保険</h6>
                <p class="u-mb shohiyo-txt">法律で定められた強制保険の負担額を表します。<br>
                    事故の際の加害者に対する対人賠償のみの保険ですので、保証内容については十分とは言えません。<br>
                    購入した中古車を継続して使用する際は、１ヵ月分余分に負担する事になっています。</p>
                <h6 class="title_5">・自動車任意保険</h6>
                <p class="u-mb shohiyo-txt">中古車を購入した販売店に、一般の任意保険の加入を依頼した際に必要となる保険料金を表します。<br>保証内容については、しっかり確認し、把握しておいて下さい。</p>

                <h4 class="title_3" id="shipping_costs">輸送費</h4>
                <p class="u-mb">落札された車両をお届けするためにかかる費用です。お届け先や車両によって金額が変わります。予め質問にてご確認ください。</p>

                <h4 class="title_3">その他</h4>
                <p>車検が切れている車両に関しては、別途車検費用（各種手数料・法定費用など（※車検整備費用除く））が必要となります。詳細に関しては、予め質問にてご確認ください。</p>
            </div>
        </section>

        <section class="u-mb_ll" id="section_06">
            <div class="u-cw_narrow_only_pc">
                <h3 class="title_2">6.よくあるご質問</h3>
            </div>

            <div class="u-cw_narrow">
                <h4 class="title_3">Q.諸費用はいくらですか？</h4>
                <p class="u-mb_ss">
                    各税金や保険代などの法定費用および各手数料は各店舗によって金額が異なります。<br>正式な諸費用が知りたい場合、各店舗にお問い合わせいただき料金に納得いただいた上で購入手続きをしてください。</p>
                <p class="u-mb"><a href="#expenses" class="c-link_arrow">諸費用の詳細について</a></p>
                <h4 class="title_3">Q.陸送費（輸送費）はいくらですか？</h4>
                <p class="u-mb">お届け先や車両によって金額が変わります。予め質問にてご確認ください。</p>
                <h4 class="title_3">Q.車の状態は？</h4>
                <p class="u-mb">出品車両の状態は、パソコンからご覧いただく画面に詳細が記載されています。なお、画面上でうつらない細かい傷等がある場合もございますので、入札前に現車確認をおすすめしています。
                </p>
                <h4 class="title_3">Q.ローンは使えますか？</h4>
                <p>出品店により、オートローンがご利用いただける場合とご利用いただけない場合がございます。ご利用をお考えの場合は、予めご確認ください。また、オートローンをご利用いただくには事前審査が必要です。オートローンの金利は、販売会社によって異なります。ローン審査時にご確認下さい。頭金、お支払回数等はローン審査時にご相談ください。
                </p>
            </div>
        </section>
    </div>

    