<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login_style.css" />
    <title>Trader Login</title>
</head>
<body>
    <form class="box" action="/master" method="post" enctype="multipart/form-data">
        <h1>Login</h1>
        <input type="text" name="email" placeholder="trader_id" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" name="login" value="ログイン">
    </form>
</body>
</html>