<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login_style.css" />

    <title>車オークション</title>
</head>

<form class="box" action="/" method="post" enctype="multipart/form-data">
    <h1>Login</h1>
    <input type="email" name="login_email_address" placeholder="email_address" required>
    <input type="password" name="login_password" placeholder="password" required>
    <input type="submit" name="login" value="ログイン">
    <input type="submit" name="registration" value="新規会員登録">
</form>